spring:
  application:
    name: templatex

  datasource:
    url: jdbc:postgresql://localhost:5432/organization
    username: mukarit
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: public
    open-in-view: false

  data:
    jpa:
      repositories:
        enabled: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

  jackson:
    date-format: dd-MM-yyyy
    time-zone: Asia/Tashkent
    serialization:
      write-dates-as-timestamps: false

# File storage configuration
file:
  upload-dir: uploads      # Template files
  generated-dir: generated # Generated documents

jwt:
  secret: mySecretKeyForJWTTokenGeneration@!asckbkajsbcacb
  expiration: 86400000  # 24 hours in milliseconds

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    uz.vv.templatex: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true